@use '../variables' as *;
@use '../functions' as *;
@use '../mixins';

/**
 * Forecast
 */

#cities-comparison-container {
  grid-area: "city-comparison";
  height: rem(250);
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.min-media-query($breakpoint-lg) {
    height: 100%;
    grid-column: span 2;
  }
}