@use "../variables" as *;
@use "../functions" as *;
@use "../mixins" as *;

/**
 * Footer
 */
#footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 1rem;
  font-size: rem(12);
  height: rem(64);
  color: $color-dark;

  body.dark & {
    color: $color-light;
  }

  .footer-link {
    color: $color-primary;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-secondary;
    }
  }
}